img{
    /*width: 700px;*/
}

#contenedor{
    width: 1200px;
    height: 650px; 
    margin: 30px auto;
    overflow: hidden;
}

#contenedor ul{
    list-style: none;
    width: 4800px;
    display: flex;
    
    animation: slide 20s infinite alternate;
}

@keyframes slide {
    0% {margin-left: 0px;}
    20% {margin-left: 0px;}
    
    25% {margin-left: -1200px;}
    45% {margin-left: -1200px;}
    
    50% {margin-left: -2400px;}
    70% {margin-left: -2400px;}
    
    75% {margin-left: -3600px;}
    100% {margin-left: -3600px;}
}img{
   /* width: 700px;*/
}

#contenedor{
    width: 1200px;
    height: 650px; 
    margin: 30px auto;
    overflow: hidden;
}

#contenedor ul{
    list-style: none;
    width: 4800px;
    display: flex;
    
    animation: slide 20s infinite alternate;
}

@keyframes slide {
    0% {margin-left: 0px;}
    20% {margin-left: 0px;}
    
    25% {margin-left: -1200px;}
    45% {margin-left: -1200px;}
    
    50% {margin-left: -2400px;}
    70% {margin-left: -2400px;}
    
    75% {margin-left: -3600px;}
    100% {margin-left: -3600px;}
}