body
{
	font-family: sans-serif;
}

h1
{
	text-align: center;
}

.gallery
{
	margin: 10px 50px;
}

.gallery img
{
	width: 220px;
	height: 150px;
	padding: 05px; /*para el ancho de las fotos*/
	filter: grayscale(0%);/*para poner escalas de grises en las imagenes*/
	transition: 2s;/*zoom de 2seg.*/
}

.gallery img:hover
{
	filter: grayscale(0);
	transform: scale(1.1);
}